---
import { cn } from '@lib/utils'
import LucideIcon from '../LucideIcon.astro'

interface Props {
  time: string
  title?: string
}
---

<div class="relative flex gap-4 items-baseline ml-4">
  <span
    class={cn(
      'absolute ml-[-50px] mt-[-2px] w-9 h-9 flex items-center justify-center',
      'bg-sl-gray-5 border-4 border-sl-bg rounded-full',
    )}>
    <LucideIcon icon="Calendar" class="text-sl-gray-3" />
  </span>

  <span>{Astro.props.time}</span>
  <span class="text-xl font-semibold">{Astro.props.title}</span>
</div>

<div class="ml-4">
  <slot />
</div>
