---
import { Icon } from '@astrojs/starlight/components'
import { cn } from '@lib/utils'

interface Props {
  url: string
}

let { url } = Astro.props
---

<a
  href={url}
  target="_blank"
  class={cn(
    'flex rounded-lg border p-4 no-underline shadow-sl-sm border-sl-gray-5',
    'hover:border-sl-gray-2 hover:bg-sl-gray-7',
  )}>
  <span class="flex-1">{url}</span>
  <Icon name="external" />
</a>
