name: Sync and built editor keymaps

on:
  workflow_dispatch:

jobs:
  keymaps:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{secrets.PUBLIC_REPO_GITHUB_TOKEN}}

      - uses: actions/checkout@v4
        with:
          repository: evan-liu/dotfiles
          path: dotfiles

      - uses: ./.github/actions/keymaps

      - name: Commit changes
        run: |
          if [ -n "$(git status --porcelain)" ]; then
            git config user.name "Evan Liu"
            git config user.email "evancoding@gmail.com"
            git add .
            git commit -m "Sync editor keymaps"
            git push
          else
            echo "No changes";
          fi
